#titleNav{
    /* color: rgb(13, 63, 228); */
    color: beige;
    background-color: rgb(27, 40, 97);
}
#pageTitle{
    font-size: 30px;
    
}
.show>.dropdown-menu {
    display: block;
    position: absolute;
  }