#leftSide{
    padding: 0px;
    padding-top: 10px;
    position: absolute; 
    top: 0;
    bottom: 0;
    overflow: hidden;
    
}
.menuIcon{
    max-width: 100%;
    overflow: hidden;

}
.menuIcon img{
    padding: 0px;
    margin: 0px;
}
button{
    width: 100%;
    min-height: 5vh;
    background-color: rgb(250, 247, 61);
    padding: 0;
    
    
}
